@model HealthStory.Web.Models.UserLoginDto

@{
    ViewData["Title"] = "Login";
}

<section>
    <h2>Login</h2>
</section>
<div class="container">
    <form method="post" asp-action="Login">

        <section class="row">
            <label class="control-label">Email or login</label>
            @Html.EditorFor(x => x.LoginOrEmail, new { htmlAttributes = new { @class = "form-control" } })
        </section>

        <section class="row">
            <label class="control-label">Password</label>
            @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })
        </section>
        
        <section class="row">
            <button type="submit" class="btn btn-success">Login</button>
        </section>

    </form>
</div>

<div>
    @Html.ActionLink("Back to list", "Index")
</div>

