@model IEnumerable<HealthStory.Web.Application.Dashboard.AvailableTest.ReadBloodTestInfoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Available tests</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <button type="button">Add</button>
            </td>
        </tr>

        }
    </tbody>
</table>
