@model IEnumerable<HealthStory.Web.Application.Dashboard.AvailableTest.DashboardBloodTestViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Available tests</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <input type="button" value="Add" onclick='window.location.href ="@Url.Action("New", "BloodTest", new { bloodTestId=item.BloodTestInfoId })";' />              
            </td>
        </tr>

        }
    </tbody>
</table>
