@model IEnumerable<HealthStory.Web.Application.BloodTest.User.UserBloodTestSubstanceDto>

@{
    ViewData["Title"] = "New";
}

<h2>Edit</h2>

<form method="post" asp-action="Edit">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <section class="row">
                            @Html.EditorFor(modelItem => item.Value, new { htmlAttributes = new { @class = "form-control" } })
                        </section>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <section class="row">
        <button type="submit" class="btn btn-success">Save</button>
    </section>
</form>