@model HealthStory.Web.Application.BloodTest.User.UserBloodTestDto

@{
    ViewData["Title"] = "New";
}

<h1>@Html.DisplayFor(x => x.Name)</h1>
<h2>@Html.DisplayFor(x => x.Description)</h2>
<h3>List of substances</h3>

<form method="post" asp-action="Create">

    @Html.HiddenFor(x => x.BloodTestId)
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Value
                </th>
            </tr>
        </thead>
        <tbody>
            <partial name="_Substances" />
        </tbody>
    </table>

    <section class="row">
        <button type="submit" class="btn btn-success">Save</button>
    </section>
</form>