@model HealthStory.Web.Application.BloodTest.User.UserBloodTestDto

@{
    ViewData["Title"] = "New";
}

<h1>@Html.DisplayFor(x => x.Name)</h1>
<h2>@Html.DisplayFor(x => x.Description)</h2>
<h3>List of substances</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Substances) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Value, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>
}
    </tbody>
</table>